*{
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    height: 20vh;
    align-items: center;
    box-sizing: border-box;
    gap: 10vh;
   background-color: #ba6825;
   border-radius: 3%;
}

a{    
    color: beige;
    font-size: 20px;
    font-family: Verdana;
}
header img{
    width: 20ex;
    border-radius: 15%;
}
ul{
    display: flex;
}
li:hover{
    background-color: #F8A000;
   
}
li{
    margin: 5px;
    padding: 3vh;
    list-style-type: none;
    border-radius: 2vh;
    
}
body{
    background-color: #dfd08b;
    /*#3C7C86 #2B263C cores verde roxo que quero*/
}